src/main/resources/contract/slim/FLUXFAQueryMessage_3p0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Simplified schema FLUXFAQueryMessage_3p0.xsd -->
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:un:unece:uncefact:data:standard:FLUXFAQueryMessage:3" version="3.0" xmlns:ram="urn:un:unece:uncefact:data:standard:ReusableAggregateBusinessInformationEntity:20" xmlns:rsm="urn:un:unece:uncefact:data:standard:FLUXFAQueryMessage:3" xmlns:udt="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:20" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:20" schemaLocation="UnqualifiedDataType_20p0.xsd" />
  <xsd:import namespace="urn:un:unece:uncefact:data:standard:ReusableAggregateBusinessInformationEntity:20" schemaLocation="ReusableAggregateBusinessInformationEntity_20p0.xsd" />
  <xsd:element name="FLUXFAQueryMessage" type="rsm:FLUXFAQueryMessageType" />
  <xsd:complexType name="FLUXFAQueryMessageType">
    <xsd:sequence>
      <xsd:element minOccurs="1" name="FAQuery" type="ram:FAQueryType" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
