src/main/resources/contract/slim/FLUXResponseMessage_6p0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Simplified schema FLUXResponseMessage_6p0.xsd -->
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:un:unece:uncefact:data:standard:FLUXResponseMessage:6" version="6.0" xmlns:ram="urn:un:unece:uncefact:data:standard:ReusableAggregateBusinessInformationEntity:20" xmlns:rsm="urn:un:unece:uncefact:data:standard:FLUXResponseMessage:6" xmlns:udt="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:20" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:20" schemaLocation="UnqualifiedDataType_20p0.xsd" />
  <xsd:import namespace="urn:un:unece:uncefact:data:standard:ReusableAggregateBusinessInformationEntity:20" schemaLocation="ReusableAggregateBusinessInformationEntity_20p0.xsd" />
  <xsd:element name="FLUXResponseMessage" type="rsm:FLUXResponseMessageType" />
  <xsd:complexType name="FLUXResponseMessageType">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="FLUXResponseDocument" type="ram:FLUXResponseDocumentType" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
