src/main/resources/contract/slim/FLUXFAReportMessage_3p1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Simplified schema FLUXFAReportMessage_3p1.xsd -->
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:un:unece:uncefact:data:standard:FLUXFAReportMessage:3" version="3.1" xmlns:qdt="urn:un:unece:uncefact:data:Standard:QualifiedDataType:20" xmlns:ram="urn:un:unece:uncefact:data:standard:ReusableAggregateBusinessInformationEntity:20" xmlns:rsm="urn:un:unece:uncefact:data:standard:FLUXFAReportMessage:3" xmlns:udt="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:20" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:20" schemaLocation="UnqualifiedDataType_20p0.xsd" />
  <xsd:import namespace="urn:un:unece:uncefact:data:Standard:QualifiedDataType:20" schemaLocation="QualifiedDataType_20p0.xsd" />
  <xsd:import namespace="urn:un:unece:uncefact:data:standard:ReusableAggregateBusinessInformationEntity:20" schemaLocation="ReusableAggregateBusinessInformationEntity_20p0.xsd" />
  <xsd:element name="FLUXFAReportMessage" type="rsm:FLUXFAReportMessageType" />
  <xsd:complexType name="FLUXFAReportMessageType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="FLUXReportDocument" type="ram:FLUXReportDocumentType" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="FAReportDocument" type="ram:FAReportDocumentType" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
