src/main/resources/contract/Activity_CommonTypes.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--
  ~ /*
  ~ Developed by the European Commission - Directorate General for Maritime Affairs and Fisheries © European Union, 2015-2016.
  ~
  ~ This file is part of the Integrated Fisheries Data Management (IFDM) Suite. The IFDM Suite is free software: you can redistribute it
  ~ and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of
  ~ the License, or any later version. The IFDM Suite is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
  ~ without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more
  ~ details. You should have received a copy of the GNU General Public License along with the IFDM Suite. If not, see <http://www.gnu.org/licenses/>.
  ~
  ~  */
  -->
<xs:schema xmlns="http://europa.eu/ec/fisheries/uvms/activity/model/schemas"
           id="FISH2015_SPATIAL2015" targetNamespace="http://europa.eu/ec/fisheries/uvms/activity/model/schemas"
           version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:complexType name="ListValueTypeFilter">
        <xs:sequence>
            <xs:element name="key" type="SearchFilter" nillable="false" minOccurs="1" maxOccurs="1"/>
            <xs:element name="value" type="xs:string" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SingleValueTypeFilter">
        <xs:sequence>
            <xs:element name="key" type="SearchFilter" nillable="false" minOccurs="1" maxOccurs="1"/>
            <xs:element name="value" type="xs:string" nillable="false" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="GroupCriteriaWithValue">
        <xs:sequence>
            <xs:element name="key" type="GroupCriteria" nillable="false" minOccurs="1" maxOccurs="1"/>
            <xs:element name="value" type="xs:string" nillable="false" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SummaryTable">
        <xs:sequence>
            <xs:element name="fishSizeSummary" type="SummaryFishSize" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element name="faCatchTypeSummary" type="SummaryFACatchtype" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SummaryFishSize">
        <xs:sequence>
            <xs:element name="fishSize" type="FishSizeClassEnum" nillable="false" minOccurs="1" maxOccurs="1"/>
            <xs:element name="species" type="SpeciesCount" nillable="false" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="fishSizeCount" type="xs:double" nillable="true" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SummaryFACatchtype">
        <xs:sequence>
            <xs:element name="catchType" type="FaCatchTypeEnum" nillable="false" minOccurs="1" maxOccurs="1"/>
            <xs:element name="species" type="SpeciesCount" nillable="false" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="catchTypeCount" type="xs:double" nillable="true" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SpeciesCount">
        <xs:sequence>
            <xs:element name="spaciesName" type="xs:string" nillable="false" minOccurs="1" maxOccurs="1"/>
            <xs:element name="count" type="xs:double" nillable="false" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="VesselIdentifierType">
        <xs:sequence>
            <xs:element name="key" type="VesselIdentifierSchemeIdEnum" nillable="false" minOccurs="1" maxOccurs="1"/>
            <xs:element name="value" type="xs:string" nillable="false" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FishingTripIdWithGeometry">
           <xs:sequence>
                <xs:element name="tripId" type="xs:string"/>
                <xs:element name="firstFishingActivity" type="xs:string"/>
                <xs:element name="firstFishingActivityDateTime" type="xs:dateTime"/>
                <xs:element name="lastFishingActivity" type="xs:string"/>
                <xs:element name="lastFishingActivityDateTime" type="xs:dateTime"/>
                <xs:element name="vesselIdList" type="VesselIdentifierType" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="tripDuration" type="xs:double"/>
                <xs:element name="noOfCorrections" type="xs:int"/>
                <xs:element name="flagState" type="xs:string"/>
                <xs:element name="schemeId" type="xs:string"/>
                <xs:element name="geometry" type="xs:string"/>
                <xs:element name="relativeFirstFaDateTime" type="xs:dateTime"/>
                <xs:element name="relativeLastFaDateTime" type="xs:dateTime"/>
            </xs:sequence>

    </xs:complexType>

    <xs:complexType name="FACatchSummaryRecord">
        <xs:sequence>
            <xs:element name="groups" type="GroupCriteriaWithValue" nillable="false" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="summary" type="SummaryTable" nillable="false" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FishingActivitySummary">
            <xs:sequence>
                <xs:element name="activityId" type="xs:int"/>
                <xs:element name="faReportID" type="xs:int"/>
                <xs:element name="activityType" type="xs:string"/>
                <xs:element name="geometry" type="xs:string"/>
                <xs:element name="acceptedDateTime" type="xs:dateTime"/>
                <xs:element name="dataSource" type="xs:string"/>
                <xs:element name="reportType" type="xs:string"/>
                <xs:element name="purposeCode" type="xs:string"/>
                <xs:element name="vesselName" type="xs:string"/>
                <xs:element name="vesselGuid" type="xs:string"/>
                <xs:element name="tripId" type="xs:string"/>
                <xs:element name="flagState" type="xs:string"/>
                <xs:element name="isCorrection" type="xs:boolean"/>
                <xs:element name="gears" type="xs:string"  minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="species" type="xs:string"  minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="ports" type="xs:string"  minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="areas" type="xs:string"  minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="vesselIdentifiers" type="VesselIdentifierType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="occurence" minOccurs="0" type="xs:dateTime"/>
                <xs:element name="landingReferencedID" minOccurs="0" type="xs:string"/>
                <xs:element name="landingState" minOccurs="0" type="xs:string"/>
                <xs:element name="vesselContactParty" type="VesselContactPartyType" minOccurs="0"/>
            </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="SearchFilter">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SOURCE" />
            <xs:enumeration value="FROM"/>
            <xs:enumeration value="OWNER"/>
            <xs:enumeration value="PERIOD_START"/>
            <xs:enumeration value="PERIOD_END"/>
            <xs:enumeration value="VESSEL_IDENTIFIRE"/>
            <xs:enumeration value="VESSEL_NAME"/>
            <xs:enumeration value="VESSEL"/>
            <xs:enumeration value="VESSEL_GROUP"/>
            <xs:enumeration value="VESSEL_GUIDS"/>
            <xs:enumeration value="PURPOSE"/>
            <xs:enumeration value="REPORT_TYPE"/>
            <xs:enumeration value="AREAS"/>
            <xs:enumeration value="PORT"/>
            <xs:enumeration value="GEAR"/>
            <xs:enumeration value="SPECIES"/>
            <xs:enumeration value="QUANTITY_MIN"/>
            <xs:enumeration value="QUANTITY_MAX"/>
            <xs:enumeration value="WEIGHT_MEASURE"/>
            <xs:enumeration value="MASTER"/>
            <xs:enumeration value="OCCURRENCE"/>
            <xs:enumeration value="FA_REPORT_ID"/>
            <xs:enumeration value="FA_STATUS"/>
            <xs:enumeration value="AREA_GEOM"/>
            <xs:enumeration value="ACTIVITY_TYPE"/>
            <xs:enumeration value="TRIP_ID"/>
            <xs:enumeration value="CONTACT_ROLE_CODE"/>
            <xs:enumeration value="FISHING_TRIP_SCHEME_ID"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="GroupCriteria">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DATE_DAY" />
            <xs:enumeration value="DATE_MONTH" />
            <xs:enumeration value="DATE_YEAR" />
            <xs:enumeration value="DATE" />
            <xs:enumeration value="VESSEL"/>
            <xs:enumeration value="TERRITORY"/>
			<xs:enumeration value="FAO_AREA"/>
			<xs:enumeration value="ICES_STAT_RECTANGLE"/>
			<xs:enumeration value="EFFORT_ZONE"/>
			<xs:enumeration value="RFMO"/>
			<xs:enumeration value="GFCM_GSA"/>
			<xs:enumeration value="GFCM_STAT_RECTANGLE"/>
            <xs:enumeration value="FLAG_STATE"/>
            <xs:enumeration value="GEAR_TYPE"/>
			<xs:enumeration value="PRESENTATION"/>
			<xs:enumeration value="CATCH_TYPE"/>
            <xs:enumeration value="SPECIES"/>
            <xs:enumeration value="SIZE_CLASS"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ActivityFeaturesEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACTIVITY_ALLOWED" />
            <xs:enumeration value="LIST_ACTIVITY_REPORTS"/>
            <xs:enumeration value="FISHING_TRIP_SUMMARY"/>
            <xs:enumeration value="CONFIGURE_MDR_SCHEDULER"/>
            <xs:enumeration value="LIST_MDR_CODE_LISTS"/>
            <xs:enumeration value="UPDATE_MDR_CODE_LISTS"/>
            <xs:enumeration value="VIEW_FA_REPORT_DETAILS"/>
            <xs:enumeration value="MANAGE_ADMIN_CONFIGURATIONS"/>
            <xs:enumeration value="CODE_LISTS_ENABLE_DISABLE_SCHEDULED_UPDATE"/>
            <xs:enumeration value="MDR_SEARCH_CODE_LIST_ITEMS"/>
            <xs:enumeration value="SEND_UPDATE_TRIP_REQUEST"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="FishSizeClassEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BMS" />
            <xs:enumeration value="LSC"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="VesselIdentifierSchemeIdEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EXT_MARK" />
            <xs:enumeration value="IRCS"/>
            <xs:enumeration value="CFR"/>
            <xs:enumeration value="UVI"/>
            <xs:enumeration value="ICCAT"/>
            <xs:enumeration value="GFCM"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="FaCatchTypeEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DISCARDED" />
            <xs:enumeration value="DEMINIMIS"/>
            <xs:enumeration value="ALLOCATED_TO_QUOTA"/>
            <xs:enumeration value="TAKEN_ON_BOARD"/>
            <xs:enumeration value="ONBOARD"/>
            <xs:enumeration value="KEPT_IN_NET"/>
            <xs:enumeration value="BY_CATCH"/>
            <xs:enumeration value="LOADED"/>
            <xs:enumeration value="UNLOADED"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="ActivityFault">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="code" type="xs:int"/>
                <xs:element name="fault" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="VesselContactPartyType">
        <xs:sequence>
            <xs:element name="role" type="xs:string"/>
            <xs:element name="title" minOccurs="0" type="xs:string"/>
            <xs:element name="givenName" minOccurs="0" type="xs:string"/>
            <xs:element name="middleName" minOccurs="0" type="xs:string"/>
            <xs:element name="familyName" minOccurs="0" type="xs:string"/>
            <xs:element name="familyNamePrefix" minOccurs="0" type="xs:string"/>
            <xs:element name="nameSuffix" minOccurs="0" type="xs:string"/>
            <xs:element name="gender" minOccurs="0" type="xs:string"/>
            <xs:element name="alias" minOccurs="0" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
